:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  background-color: white;
  --hover-color: #646cff;
  --hover-color-two: #464fff;
  --hover-color-three: #b3cee5;
  --light-background: #ededed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
textarea:focus, input:focus{
  outline: none;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--light-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


.main-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 12px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 40px;
  padding: 12px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
}
.sidebar-option {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  line-height: 24px;
  min-height: 48px;
  border-radius: 10px;
}
.sidebar-option:hover {
  background-color: var(--hover-color);
  color: white;
}
.sidebar-option-active {
  background-color: var(--hover-color);
}
.option-image {
  width: 30px;
  margin-right: 24px;
}
.option-menu-button {
  cursor: pointer;
  display: none;
}

.sidebar-popup {
  display: none;
}

.calender-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-width: 1600px;
  width: 100%;
}
.calender-header-container {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 20px;
}
.calender-header-left {
  display: flex;
  align-items: center;
  gap: 26px;
}

.current-month {
  min-width: 155px;
}
.current-month-font-size {
  font-size: 22px;
}

.calender-header-bookmarks{
  display: flex;
  gap: 6px;
  position: relative;
}

.ripple-button {
  padding: 12px 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--hover-color);
  font-size: 18px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.ripple-button:hover {
  background-color: var(--hover-color-two);
}
.ripple-button > span {
  position: absolute;
  border-radius: 50%;
  /* To  it round */
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;

  animation: ripple 1s;
}

/* Add animation */
@keyframes ripple {
  0% {
      opacity: 1;
      transform: scale(0.5);
  }

  100% {
      opacity: 0;
      transform: scale(10);
  }
}

.calender-header-toggle {
  display: flex;
  justify-content: flex-end;
  width: 160px;
  position: relative;
}
.calender-header-toggle > button:nth-child(2) {
  z-index: 100;
  width: 80px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  border-color: var(--light-background);
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.calender-header-toggle > button:nth-child(2):hover {
  border-color: var(--hover-color);
}


.month-button {
  position: absolute;
  border-radius: 50%;
  /* To  it round */
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;

  animation: ripple 1s;
  opacity: 0;
}
.calender-header-toggle > button:nth-child(3) {
  z-index: 100;
  width: 80px;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
  border-color: var(--light-background);
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.calender-header-toggle > button:nth-child(3):hover {
  border-color: var(--hover-color);
}


.white {
  color: white;
}
.black {
  color: black
}
.bookmark-modal-container{
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid var(--light-background);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;

}
.calendar-bookmark {
  display: flex;
  width: 100%;
  gap: 10px;
}
.checkbox {
  width: 18px;
  background-color: white;
}

.background {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--hover-color-two);
  transform: translateX(-100%);
  transition: 0.2s;
}
.left {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  transform: translateX(-100%);
}
.right {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  transform: translateX(0%);
}

.calender-header-arrow {
  display: flex;
  width: 18px;
}
.opposite {
  transform: rotate(180deg);
}

.border {
  border-left: 1px solid var(--light-background);
}
.border-top {
  border-top: 1px solid var(--light-background)
}
.calender-month-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr) ;
  grid-template-rows: repeat(6, 150px);
  position: relative;

}

.calender-day-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--light-background);
  border-bottom: 1px solid var(--light-background);
  position: relative;
}

.animate-enter-right {
  transform: translateX(16px);
}
.from-right {
  animation-name: animate-enter-right;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.animate-enter-left {
  transform: translateX(-16px);
}
.from-left {
  animation-name: animate-enter-left;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}


.animate-leave-left {
  animation-name: animate-leave-left;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.animate-leave-right {
  animation-name: animate-leave-right;
  animation-iteration-count: 1;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.invisible {
  opacity: 0;
}

@keyframes animate-enter-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes animate-enter-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes animate-leave-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-16px);
  }
}
@keyframes animate-leave-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(16px);
  }
}

.hourly-day-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--light-background);
}
.hourly-day {
  position: relative;
}
.time-interval {
  position: relative;
  color: transparent; 
  cursor: pointer;
  font-size: 12px;
}
.testing {
  position: absolute;
  top: 4px;
  color: white;
  left: 6px;
}
.testingTwo {
  z-index: 1000;
}
.testingThree{
  z-index: 0;
}

.invis {
  display: none;
}


.calender-day-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calender-date {
  font-size: 16px;
  margin-top: 12px;
  pointer-events: none;
  user-select: none;
}
.current-date {
  background-color: rgb(26,115,232);
  border-radius: 50%;
  padding: 1px 4px 1px 6px;
  color: white;
}
.current {
  color: blue;
}
.not-current-month {
  color: rgb(113, 113, 113);
}
.calender-events {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.calender-day-event {
  border-radius: 6px;
  font-size: 14px;
  padding-left: 6px;
  margin-top: 4px;
  position: relative;
}
.calender-day-event > div {
  color: white;
}
.all-events-popup {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 0px;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popup-align-center {
  display: flex;
  justify-content: center;
}
.close-all-events-popup{
  position: absolute;
  right: 15px;
  top: 10px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
.all-day-events {
  z-index: 20;
  cursor: pointer;
  color: white;
}

.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 450px;
  height: 350px;
  background-color: white;
  border-radius: 6px;
  z-index: 3000;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  background-color: var(--light-background);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  gap: 10px;
}
.close-modal {
  width: 20px;
  cursor: pointer;
}
.modal {
  display: flex;
  align-items: center;
  color: black;
}
.title {
  margin: 0 16px;
  padding: 8px 0 0 52px;
  position: relative;
}
.title > input {
  line-height: 30px;
  font-size: 18px;
  width: 100%;
  background-color: white;
  color: black;
  border: none;
}
.title::after {
  content: '';
  position: absolute;
  bottom: 2px;
  height: 2px;
  width: 80%;
  transform: scale(0);
  background-color: var(--hover-color);
  transform-origin: center;
  animation: underlineeffect 0.2s forwards;
  animation-delay: 0.2s;
}

@keyframes underlineeffect {
  0%  {
    transform: scale(0);
  }
  100% {
    transform: scale(1)
  }
}

.modal-image {
  width: 28px;
  padding-right: 24px;

}
.layout {
  margin: 12px 16px 2px;
}
.time-period {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}
.time-period-select {
  position: relative;
  cursor: pointer;
}
.time-period-select:hover {
  background-color: rgb(232, 230, 230);
}
.time-period-modal {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 205px;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.time-period-modal-active {
  background-color: var(--hover-color);
  height: 2px;
  transform-origin: center ;
  transition: 0.3s;
  transform: scale(0);
  position: absolute;
  bottom: 0;
}
.underline {
  transform: scale(1);
  width: 100%;
}

.time-slots {
  padding: 10px 24px;
  font-size: 14px;
}
.time-slots:hover {
  background-color: var(--hover-color-three);
}
.current-selected-time {
  background-color: var(--hover-color-three);
}

.modal-time {
  margin-left: 20px;
}
.description {
  background-color: white;
  border-radius: 6px;
  color: black;
  border: 1px solid lightgrey;
  line-height: 24px;
  width: 100%;
}
.description:focus {
  background-color: white;
}
.modal-bookmark-container {
  display: flex;
}
.modal-bookmark {
  display: flex;
  border-radius: 50%;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.indigo {
  background-color: indigo;
}
.gray {
  background-color: gray;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.purple {
  background-color: purple;
}
.check {
  width: 100%;
  padding: 4px;
}


.modal-save {
  margin-top: 40px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal-save > button {
  background-color: var(--hover-color);
}
.modal-save > button:hover {
  background-color: var(--hover-color-two);
}

.contextMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: fit-content;
  width: fit-content;
  background-color: white;
  border-radius: 6px;
  z-index: 20;
  
}
.contextMenu-animation-right {
  animation: fade-in-context-menu 0.2s forwards;
  transform-origin: top right;
}
.contextMenu-animation-left {
  animation: fade-in-context-menu 0.2s forwards;
  transform-origin: top left;
}

.eventModal-animation-left {
  animation: fade-in-left-event-modal 0.2s forwards;
  transform-origin: left;
}
.eventModal-animation-right {
  animation: fade-in-right-event-modal 0.2s forwards;
  transform-origin: right;
}

@keyframes fade-in-context-menu {
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in-right-event-modal {
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-left-event-modal {
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.contextMenu-delete {
  padding: 12px 16px 2px;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid lightgrey;
}
.contextMenu-delete:hover {
  background-color: lightgrey;
}


.calender-week {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calender-week-header-container {
 display: flex;
 
}
.calender-week-header-empty-space{
  background-color: green;
  min-width: 40px;
}
.calender-week-header {
  display: flex;
  width: 100%;
  background-color: blue;
}



.table {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  position: relative;
} 
.week-container {
  display: flex;
  padding-right: 16px;
  position: relative;
}

.week-header-gap {
  width: 40px;
  text-align: right;
  padding-right: 8px;
}

.week-header-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.week-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.week-header > div:nth-child(1) {
  font-size: 14px;
}
.week-header > div:nth-child(2) {
  font-size: 20px;
}

.week-day-container {
  display: flex;
  max-height: 850px;
  overflow: scroll;
}
.week-time-slots {
  display: flex;
  flex-direction: column;
  width: 40px;
  text-align: right;
  padding-right: 8px;
  border: 1px solid white;
  height: 1728px;
}
.week-hour {
  height: 72px;
  font-size: 12px;
  position: relative;
}
.hihi {
  position: relative;
  top: -8px;
}
.week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

@media screen and (max-width: 1283px) {

.option-menu-button {
  display: flex;
}

.sidebar-header > span {
  display: none;
}

.sidebar-container {
  width: 70px;
  align-items: center;
  position: relative;
}
.sidebar-popup {
  position: absolute;
  left: -300px;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: 1px solid blue;
  height: 100vh;
  background-color: #242424;
  z-index: 100;
  transition: 0.4s;
}
.active {
  left:0
}

.sidebar-option {
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 8px;
}


.option-image {
  margin-right: unset;
}


.sidebar-header-popup {
  display: flex;
  align-items: center;
  font-size: 26px;
  margin-bottom: 40px;
  margin-top: 12px;
  padding: 12px;
  gap: 12px;
}

.sidebar-options-popup {
  display: flex;
  flex-direction: column;
}
.sidebar-option-popup {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 16px;
  line-height: 24px;
  min-height: 48px;
  border-radius: 10px;
}
.sidebar-option:hover {
  background-color: white;
}
.sidebar-option-active {
  background-color: white;
}
.option-image-popup {
  width: 30px;
  margin-right: 24px;
}
.option-menu-button-popup {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.calender-month-container {
  grid-template-rows: repeat(6, 100px);
}
}

@media screen and (max-width: 768px) {
  .calender-month-container {
    grid-template-rows: repeat(6, 60px);
  }

  .calender-date {
    font-size: 14px;
    margin-top: unset;
  }

}
